
body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgb(15, 15, 15);
}

h1 {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    padding: 20px;
    width: 90vw;
}

#svg2 {
    filter: hue-rotate(270deg);
}


.myCircle {
    fill: none;
    stroke: rgb(0, 255, 255);
    stroke-width: 25;
    stroke-linecap: round;
    filter: drop-shadow(0 0 5px rgb(0, 255, 255));

    stroke-dasharray: 472;
    animation: animateCircle 2.5s ease-out forwards;
    transform: rotate(90deg);
    transform-origin: center;
}

.myCircleBg {
    fill: none;
    stroke: rgb(3, 112, 112);
    stroke-width: 40;

    animation: animateStroke 2.5s ease-out forwards;
}

.myText {
    font-size: 80px;
    font-weight: bold;
    fill: none;
    stroke: rgb(0, 255, 255);
    stroke-width: 2px;
    filter: drop-shadow(0 0 5px rgb(0, 255, 255));
    
    stroke-dasharray: 300;
    stroke-dashoffset: 300;
    animation: animateText 2.5s linear forwards;
}


@keyframes animateText {
    0% {
        stroke: rgba(255, 39, 39, 0.534);
        filter: drop-shadow(0 0 5px rgb(255, 2, 2));
        fill: rgba(255, 255, 255, 0.1);
    }
    50% {
        stroke: rgba(255, 219, 60, 0.521);
        filter: drop-shadow(0 0 5px rgb(255, 251, 0)); 
        
    }
    100% {
        stroke-dashoffset: 0px;
        fill: white;
    }
}


@keyframes animateCircle {
    0% {
        stroke: rgb(255, 39, 39);
        filter: drop-shadow(0 0 5px rgb(255, 2, 2));
        stroke-dasharray: 942;
        stroke-dashoffset: 942;
    }
    50% {
        stroke: rgb(255, 219, 60);
        filter: drop-shadow(0 0 5px rgb(255, 251, 0)); 
    }
    100% {
        stroke-dashoffset: 0;
    }
}


@keyframes animateStroke {
    0% {
        stroke: rgba(255, 39, 39, 0.534);
        fill: none;
    }
    50% {
        stroke: rgba(255, 219, 60, 0.521);
        fill: none;
    }
}